@use '../util/' as *;
@use 'sass:map';

/* =================== Load Font(s) =================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');


/* =================== Global Styles =================== */
* ,*::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.light-mode
{
    --bg-color: #{$very-light-gray-bg-color};
    --element-bg-color: #{$light-color};
    --text-color: #{$very-dark-blue-text-color};
}
body.dark-mode
{
    --bg-color: #{$very-dark-blue-bg-color};
    --element-bg-color: #{$dark-blue-color};
    --text-color: #{$light-color};
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $primary-font;
    background-color: var(--bg-color);
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    display: inline-block;
}
p
{
    line-height: 1.6;
}
input, button
{
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: $primary-font;
}
.wrapper {
    width: 90%;
    max-width: rem(1140);
    margin: 0 auto;
    padding-left: rem(24);
    padding-right: rem(24);

    @include small-devices
    {
        width: 95%;
    }

    @include extra-small-devices
    {
        width: 100%;
    }
}
.flex-ac-js
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primary-btn
{
    background-color: var(--element-bg-color);
    color: var(--text-color);
    box-shadow: $main-box-shadow;
    font-size: rem(16);
    font-weight: map.get($font-weights, 'light');
    display: flex;
    align-items: center;
    gap: rem(10);
    border-radius: rem(5);
    padding: rem(10) rem(24);
    width: fit-content;
}
.small-btn
{
    padding: rem(5) rem(18);
    font-size: rem(14);
}